@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@font-face {
  font-family: 'Roboto';
  src: url(../Polices/Roboto/Roboto-Regular.ttf);
  font-family: 'Shrikhand';
  src: url(../Polices/Shrikhand/Shrikhand-Regular.ttf);
}

@media screen and (min-width: 901px) {
  .boxicon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .boxicon .price {
    font-weight: bold;
    margin-top: 2.5em;
    margin-right: 1.2em;
    padding-top: 0.5em;
    line-height: 0em;
    font-size: 0.9em;
    -webkit-transition: -webkit-transform 400ms linear;
    transition: -webkit-transform 400ms linear;
    transition: transform 400ms linear;
    transition: transform 400ms linear, -webkit-transform 400ms linear;
    font-family: 'roboto';
  }
  .boxicon .checkicon {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform-origin: right;
            transform-origin: right;
    background-color: #99E2D0;
    width: 0em;
    border-radius: 0em 0.7em 0.7em 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boxicon .checkicon i {
    color: white;
    font-size: 1.2em;
    -webkit-transition: -webkit-transform 1s linear;
    transition: -webkit-transform 1s linear;
    transition: transform 1s linear;
    transition: transform 1s linear, -webkit-transform 1s linear;
    position: relative;
    left: 1.5em;
  }
  html {
    font-size: 1vw;
  }
  body {
    margin: 0%;
  }
  header .boxheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 4.5em;
    font-size: 1.5em;
  }
  header .boxheader h1 {
    font-family: 'Shrikhand';
    margin-left: 2%;
    margin-right: 1em;
  }
  header i {
    font-size: 1.5em;
    color: black;
    position: relative;
    top: 2.2em;
    float: left;
    margin-left: 1em;
  }
  main .boximg {
    width: 100%;
    height: 40em;
  }
  main .boximg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 70%;
       object-position: 0% 70%;
  }
  main .boxmenu {
    height: 100%;
    background-color: #f7f3f3;
    border: 2px solid transparent;
    border-radius: 2em 2em 0 0;
    position: relative;
    top: -3.5em;
    margin-bottom: -3.4em;
    padding-bottom: 9em;
  }
  main .boxmenu .restauranttitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  main .boxmenu .restauranttitle h1 {
    font-family: 'Shrikhand';
    font-size: 1.8em;
    margin-right: 2em;
  }
  main .boxmenu .restauranttitle i {
    font-size: 1.5em;
    margin-top: 1.2em;
    color: black;
  }
  main .boxmenu .restauranttitle a {
    text-decoration: none;
  }
  main .boxmenu .restauranttitle .like .fa-solid {
    color: transparent;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#9356DC, #FF79DA);
  }
  main .boxmenu .restauranttitle .like i:nth-child(2) {
    width: 0%;
  }
  main .boxmenu .restauranttitle .like:hover i:nth-child(1) {
    width: 0%;
    opacity: 0;
  }
  main .boxmenu .restauranttitle .like:hover i:nth-child(2) {
    width: 100%;
    -webkit-animation: fill 1s ease-in-out;
            animation: fill 1s ease-in-out;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  @-webkit-keyframes fill {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes fill {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  main .boxmenu .boxplats {
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Roboto';
  }
  main .boxmenu .boxplats .starter {
    margin-top: 3em;
    border-bottom: 3px solid #99E2D0;
    width: 2.5em;
    line-height: 0em;
    text-transform: uppercase;
    font-size: 1.1em;
  }
  main .boxmenu .boxplats .flexmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .boxmenu .boxplats a {
    text-decoration: none;
    color: black;
  }
  main .boxmenu .boxplats .bordermenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0px 5px 10px rgba(177, 176, 176, 0.342);
            box-shadow: 0px 5px 10px rgba(177, 176, 176, 0.342);
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 1em;
    margin-top: 1em;
    font-size: 1.1em;
    width: 28em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    -webkit-animation-name: SlideInBottom;
            animation-name: SlideInBottom;
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  main .boxmenu .boxplats .bordermenu:hover {
    background-color: white;
    -webkit-box-shadow: 0px 10px 10px rgba(177, 176, 176, 0.342);
            box-shadow: 0px 10px 10px rgba(177, 176, 176, 0.342);
  }
  main .boxmenu .boxplats .bordermenu:hover .checkicon {
    background-color: #99E2D0;
    border-radius: 0em 0.7em 0.7em 0em;
    width: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .boxmenu .boxplats .bordermenu:hover .checkicon i {
    color: white;
    font-size: 1.2em;
    -webkit-transform: translateX(-0.8em) rotate(360deg);
            transform: translateX(-0.8em) rotate(360deg);
    position: relative;
    left: 1.5em;
  }
  main .boxmenu .boxplats .bordermenu .recipe {
    overflow: hidden;
  }
  main .boxmenu .boxplats .bordermenu span {
    font-weight: bold;
  }
  main .boxmenu .boxplats .bordermenu span p {
    margin-top: 0em;
    margin-bottom: 0em;
  }
  main .boxmenu .boxplats .bordermenu .sides {
    margin-top: 0em;
    margin-bottom: 0.3em;
  }
  main .boxmenu .boxplats .bordermenu p {
    padding-top: 0.4em;
    font-family: 'Roboto';
    margin-top: 0.5em;
    margin-left: 0.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  main .boxmenu .boxplats .bordermenu1 {
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
  }
  main .boxmenu .boxplats .bordermenu2 {
    -webkit-animation-duration: 800ms;
            animation-duration: 800ms;
  }
  main .boxmenu .boxplats .bordermenu3 {
    -webkit-animation-duration: 1200ms;
            animation-duration: 1200ms;
  }
  main .boxmenu .boxplats .bordermenu4 {
    -webkit-animation-duration: 1600ms;
            animation-duration: 1600ms;
  }
  main .boxmenu .boxplats .bordermenu5 {
    -webkit-animation-duration: 2000ms;
            animation-duration: 2000ms;
  }
  main .boxmenu .boxplats .bordermenu6 {
    -webkit-animation-duration: 2400ms;
            animation-duration: 2400ms;
  }
  main .boxmenu .boxplats .bordermenu7 {
    -webkit-animation-duration: 2800ms;
            animation-duration: 2800ms;
  }
  main .boxmenu .boxplats .bordermenu8 {
    -webkit-animation-duration: 3200ms;
            animation-duration: 3200ms;
  }
  main .boxmenu .boxplats .bordermenu9 {
    -webkit-animation-duration: 3600ms;
            animation-duration: 3600ms;
  }
  main .boxmenu .boxplats .bordermenu10 {
    -webkit-animation-duration: 4000ms;
            animation-duration: 4000ms;
  }
  @-webkit-keyframes SlideInBottom {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(10%);
              transform: translateY(10%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes SlideInBottom {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(10%);
              transform: translateY(10%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  main .boxmenu .commands {
    position: relative;
    bottom: -3.7em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 3.5em;
    padding-left: 3.5em;
    border: 0px solid grey;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    -webkit-box-shadow: 0px 5px 10px #b1b0b0;
            box-shadow: 0px 5px 10px #b1b0b0;
    border-radius: 3em;
    font-size: 1.1em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Roboto';
  }
  main .boxmenu .commands:hover {
    background: -webkit-gradient(linear, left top, right bottom, from(#ff79d9dc), to(#9256dce1));
    background: linear-gradient(to bottom right, #ff79d9dc, #9256dce1);
    -webkit-box-shadow: 0px 10px 10px #b1b0b0;
            box-shadow: 0px 10px 10px #b1b0b0;
  }
  main .boxmenu .boxcommands {
    display: block;
    text-align: center;
  }
  footer .boxfooter {
    background-color: #4b4949;
    padding-top: 1em;
    padding-bottom: 2em;
  }
  footer .boxfooter h2 {
    font-family: 'Shrikhand';
    color: white;
    margin-left: 2em;
    font-size: 1.2em;
  }
  footer .boxfooter a {
    color: white;
    text-decoration: none;
  }
  footer .boxfooter p {
    margin-left: 2em;
    line-height: 0.7em;
    font-family: 'Roboto';
  }
  footer .boxfooter i {
    margin-right: 0.7em;
    font-size: 0.8em;
  }
  footer .boxfooter .ustensils {
    margin-left: 0.3em;
  }
  footer .boxfooter .ustensils i {
    margin-right: 0.8em;
    margin-left: -0.2em;
  }
}

@media screen and (max-width: 900px) {
  .boxicon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .boxicon .price {
    font-weight: bold;
    margin-top: 2.8em;
    margin-right: 1em;
    padding-top: 0.5em;
    line-height: 0em;
    font-size: 0.8em;
    -webkit-transition: -webkit-transform 1s linear;
    transition: -webkit-transform 1s linear;
    transition: transform 1s linear;
    transition: transform 1s linear, -webkit-transform 1s linear;
    font-family: 'Roboto';
  }
  .boxicon .checkicon {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform-origin: right;
            transform-origin: right;
    background-color: #99E2D0;
    width: 0em;
    border-radius: 0em 0.7em 0.7em 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boxicon .checkicon i {
    color: white;
    font-size: 1.2em;
    -webkit-transition: 1s ease-in-out, -webkit-transform 1s linear;
    transition: 1s ease-in-out, -webkit-transform 1s linear;
    transition: transform 1s linear, 1s ease-in-out;
    transition: transform 1s linear, 1s ease-in-out, -webkit-transform 1s linear;
    position: relative;
    left: 1.5em;
  }
  body {
    margin: 0%;
    height: 100vh;
  }
  header .boxheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4.5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .boxheader h1 {
    font-family: 'Shrikhand';
    margin-right: 1em;
  }
  header i {
    float: left;
    font-size: 1.4em;
    color: black;
    position: relative;
    top: 1.5em;
    margin-left: 1em;
  }
  main .boximg {
    width: 100%;
    height: 17em;
  }
  main .boximg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .boxmenu {
    background-color: #f7f3f3;
    border: 2px solid transparent;
    border-radius: 2em 2em 0 0;
    position: relative;
    top: -3.5em;
    margin-bottom: -3.5em;
    padding-bottom: 9em;
  }
  main .boxmenu .restauranttitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  main .boxmenu .restauranttitle h1 {
    font-family: 'Shrikhand';
    font-size: 1.6em;
  }
  main .boxmenu .restauranttitle i {
    font-size: 1.5em;
    margin-top: 1em;
    margin-right: 2em;
    color: black;
  }
  main .boxmenu .restauranttitle a {
    text-decoration: none;
  }
  main .boxmenu .restauranttitle .like .fa-solid {
    color: transparent;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#9356DC, #FF79DA);
  }
  main .boxmenu .restauranttitle .like i:nth-child(2) {
    display: none;
  }
  main .boxmenu .restauranttitle .like:active i:nth-child(1) {
    display: none;
  }
  main .boxmenu .restauranttitle .like:active i:nth-child(2) {
    display: block;
    -webkit-animation: fill 1s;
            animation: fill 1s;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  @-webkit-keyframes fill {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes fill {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  main .boxmenu .boxplats {
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Roboto';
  }
  main .boxmenu .boxplats .starter {
    margin-top: 3em;
    border-bottom: 3px solid #99E2D0;
    width: 2.5em;
    line-height: 0em;
    text-transform: uppercase;
  }
  main .boxmenu .boxplats a {
    text-decoration: none;
    color: black;
  }
  main .boxmenu .boxplats .bordermenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0px 5px 10px rgba(177, 176, 176, 0.342);
            box-shadow: 0px 5px 10px rgba(177, 176, 176, 0.342);
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 1em;
    margin-top: 1em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    -webkit-animation-name: SlideInBottom;
            animation-name: SlideInBottom;
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  main .boxmenu .boxplats .bordermenu:active {
    background-color: white;
    -webkit-box-shadow: 0px 10px 10px rgba(177, 176, 176, 0.342);
            box-shadow: 0px 10px 10px rgba(177, 176, 176, 0.342);
  }
  main .boxmenu .boxplats .bordermenu:active .checkicon {
    background-color: #99E2D0;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2em;
    border-radius: 0em 0.7em 0.7em 0em;
    margin-top: 0em;
    width: 3em;
  }
  main .boxmenu .boxplats .bordermenu:active .checkicon i {
    color: white;
    -webkit-transform: translateX(-0.8em) rotate(360deg);
            transform: translateX(-0.8em) rotate(360deg);
    position: relative;
    left: 1.5em;
  }
  main .boxmenu .boxplats .bordermenu:active .price {
    padding-right: 1em;
    padding-left: 1em;
  }
  main .boxmenu .boxplats .bordermenu .recipe {
    overflow: hidden;
  }
  main .boxmenu .boxplats .bordermenu .sides {
    padding-bottom: 10px;
  }
  main .boxmenu .boxplats .bordermenu span {
    font-weight: bold;
  }
  main .boxmenu .boxplats .bordermenu p {
    padding-top: 0.5em;
    font-family: 'Roboto';
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 0.9em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  main .boxmenu .boxplats .bordermenu1 {
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
  }
  main .boxmenu .boxplats .bordermenu2 {
    -webkit-animation-duration: 800ms;
            animation-duration: 800ms;
  }
  main .boxmenu .boxplats .bordermenu3 {
    -webkit-animation-duration: 1200ms;
            animation-duration: 1200ms;
  }
  main .boxmenu .boxplats .bordermenu4 {
    -webkit-animation-duration: 1600ms;
            animation-duration: 1600ms;
  }
  main .boxmenu .boxplats .bordermenu5 {
    -webkit-animation-duration: 2000ms;
            animation-duration: 2000ms;
  }
  main .boxmenu .boxplats .bordermenu6 {
    -webkit-animation-duration: 2400ms;
            animation-duration: 2400ms;
  }
  main .boxmenu .boxplats .bordermenu7 {
    -webkit-animation-duration: 2800ms;
            animation-duration: 2800ms;
  }
  main .boxmenu .boxplats .bordermenu8 {
    -webkit-animation-duration: 3200ms;
            animation-duration: 3200ms;
  }
  main .boxmenu .boxplats .bordermenu9 {
    -webkit-animation-duration: 3600ms;
            animation-duration: 3600ms;
  }
  main .boxmenu .boxplats .bordermenu10 {
    -webkit-animation-duration: 4000ms;
            animation-duration: 4000ms;
  }
  @-webkit-keyframes SlideInBottom {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(10%);
              transform: translateY(10%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes SlideInBottom {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(10%);
              transform: translateY(10%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  main .boxmenu .boxcommands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .boxmenu .boxcommands .commands {
    position: relative;
    bottom: -3.7em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 3.5em;
    padding-left: 3.5em;
    border: 0px solid grey;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    -webkit-box-shadow: 0px 5px 10px #b1b0b0;
            box-shadow: 0px 5px 10px #b1b0b0;
    border-radius: 3em;
    font-size: 0.9em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Roboto';
  }
  main .boxmenu .boxcommands .commands:hover {
    background: -webkit-gradient(linear, left top, right bottom, from(#ff79d9dc), to(#9256dce1));
    background: linear-gradient(to bottom right, #ff79d9dc, #9256dce1);
    -webkit-box-shadow: 0px 10px 10px #b1b0b0;
            box-shadow: 0px 10px 10px #b1b0b0;
  }
  footer .boxfooter {
    background-color: #4b4949;
    padding-top: 1em;
    padding-bottom: 2em;
  }
  footer .boxfooter h2 {
    font-family: 'Shrikhand';
    color: white;
    margin-left: 2em;
    font-size: 1.2em;
  }
  footer .boxfooter a {
    color: white;
    text-decoration: none;
  }
  footer .boxfooter p {
    margin-left: 2em;
    line-height: 0.5em;
    font-family: 'Roboto';
  }
  footer .boxfooter i {
    margin-right: 0.7em;
    font-size: 0.8em;
  }
  footer .boxfooter .ustensils {
    margin-left: 0.3em;
  }
  footer .boxfooter .ustensils i {
    margin-right: 0.8em;
    margin-left: -0.2em;
  }
}
/*# sourceMappingURL=Menus.css.map */