@font-face {
    font-family: 'Roboto';
    src: url(../Polices/Roboto/Roboto-Regular.ttf);
    font-family: 'Shrikhand';
    src: url(../Polices/Shrikhand/Shrikhand-Regular.ttf);
}

$purple: #9356DC;
$pink: #FF79DA ;
$green: #99E2D0;



@media screen and (min-width:901px){

    @mixin bordercommands {
        position: relative;
        bottom: -3.7em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 3.5em;
        padding-left: 3.5em;
        border: 0px solid grey;
        background: linear-gradient(to bottom right, $pink, $purple);
        box-shadow: 0px 5px 10px rgb(177, 176, 176);
        border-radius: 3em;
        font-size: 1.1em;
        width: fit-content;
        height: fit-content;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: 'Roboto';
        &:hover{
            background: linear-gradient(to bottom right, #ff79d9dc, #9256dce1);
            box-shadow: 0px 10px 10px rgb(177, 176, 176);
        }
    }
    
    @mixin menus {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 5px 10px rgba(177, 176, 176, 0.342);
        background-color: rgba(255, 255, 255, 0.521);
        border-radius: 1em;
        margin-top: 1em;
        font-size: 1.1em;
        width: 28em;
        height: fit-content;
        &:hover{
            background-color: white;
            box-shadow: 0px 10px 10px rgba(177, 176, 176, 0.342);
            .checkicon{
                background-color: $green;
                color:white;
                display: inline-block;
                position: relative;
                left: 0.1em;
                border-top:0.9em solid #99E2D0;
                border-bottom:0.9em solid #99E2D0;
                border-left:0.9em solid #99E2D0;
                border-right:0.9em solid #99E2D0;
                font-size: 1.2em;
                border-radius: 0em 0.7em 0.7em 0em;
                margin-top: 0em;
                transform: scaleX(1);
                i{
                    transform: scaleX(1) translateX(-1.5em) rotate(360deg);
                    transition: transform 400ms linear, 400ms ease-in-out;
                }
            }
            .price{
                transform: translateX(-1.5em);
            }
        }
        .recipe{
            span{
                font-weight: bold;
            }
        }
        p{  
            padding-top: 0.5em;
            font-family: 'Roboto';
            line-height: 0em;
            margin-top: 0.5em;
            margin-left: 0.5em;
        }
        
    }
        .boxicon{
            display: flex;
                .price{
                    font-weight: bold;
                    margin-top: 2.5em;
                    margin-right: 1.2em;
                    padding-top: 0.5em;
                    line-height: 0em;
                    font-size: 0.9em;
                    transition: transform 400ms linear;
                }        
                .checkicon{
                    transition: transform 400ms ease-in-out;
                    transform: scaleX(0);
                    transform-origin: right;
                    i{
                        color: white;
                        transform: scaleX(0);
                        position: relative;
                        left: 1.5em;
                    }
                }
            }
    

    html{
        font-size: 1vw;
    }

    body{
        margin: 0%;
    }

        header{
            .boxheader{
            display: flex;
            justify-content: center;
            height: 4.5em;
            font-size: 1.5em;
                h1{
                    font-family: 'Shrikhand';
                    margin-left: 2%;
                }
                i{
                    position: relative;
                    top: 50%;
                    font-size: 1.4em;
                    color: black;
                }
            }
        }
        main{
            
            .boximg{
                width: 100%;
                height: 40em;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover ;
                    object-position: 0% 70%;
                }
            }

            .boxmenu{
            height: 100%;
            background-color: rgb(247, 243, 243);
            border: 2px solid transparent ;
            border-radius: 2em 2em 0 0;
            position: relative;
            top: -3.5em;
            margin-bottom: -3.5em;
            padding-bottom: 9em;


            .restauranttitle{
                    display: flex;
                    margin-left: 1em;
                    margin-top:0em;
                    margin-bottom: 0em;
                    h1{
                        font-family: 'Shrikhand';
                        font-size: 1.8em;
                    }
                    i{
                        font-size: 1.5em;
                        margin-top: 1.2em;
                        margin-left: 2em;
                        color: black;
                    }
                    a{
                        text-decoration: none;
                    }
                    .like{
                        .fa-solid{
                            color: transparent;
                            background-clip: text;
                            background-image: linear-gradient( $purple, $pink);

                        }
                    }
                    .like i:nth-child(2){
                        display:none;
                    }
                    
                    .like:hover i:nth-child(1){
                        display: none;
                    }
                    .like:hover i:nth-child(2){
                        display: block;
                        animation: fill 1s;
                        transform-origin: bottom;
                        @keyframes fill {
                            0%{
                                transform: scaleY(0);
                            }
                            100%{
                                transform: scaleY(1)
                            }
                        }  
                    }
            }

            .boxplats{
                margin-left: 1em;
                margin-right: 1em;
                font-family: 'Roboto';
                .starter{
                    margin-top: 3em;
                    border-bottom: 3px solid $green;
                    width: 2.5em;
                    line-height: 0em;
                    text-transform: uppercase;
                    font-size: 1.1em;
                }
                .flexmenu{
                    display: flex;
                    justify-content: space-between;
                }
                a{
                    text-decoration: none;
                    color: black;
                }
                .bordermenu{
                    @include menus;
                    animation-name:SlideInBottom;
                    animation-duration: 400ms;
                    animation-timing-function: linear;
                    animation-iteration-count: 1;
                }

                @for $i from 1 through 9{
                    .bordermenu#{$i}{
                        animation-duration: 400ms*$i;
                        
                    }
                }

                @keyframes SlideInBottom {
                    0%{
                        opacity: 0;
                    }
                    60%{
                        opacity: 0;
                        transform: translateY(10%);
                    }
                    100%{
                        transform: translateY(0%);
                        opacity: 1;
                    }
                }
            }
                .commands{
                    @include bordercommands;
                }
            
                .boxcommands{
                    display: block;
                    text-align: center;
                }
            }
        }
        footer{
            .boxfooter{

                background-color: rgb(75, 73, 73);
                padding-top: 1em;
                padding-bottom: 2em;
                h2{
                    font-family: 'Shrikhand';
                    color: white;
                    margin-left: 2em;
                    font-size: 1.2em;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
                p{
                    margin-left: 2em;
                    line-height: 0.7em;
                    font-family: 'Roboto';
                }
                i{
                    margin-right: 0.7em;
                    font-size: 0.8em;
                }
                .ustensils{
                    margin-left: 0.3em;
                    i{
                        margin-right: 0.8em;
                        margin-left: -0.2em;
                    }
                }
            }
        }


}

@media screen and (max-width:900px) {


    @mixin bordercommands {
        position: relative;
        bottom: -3.7em;
        margin-left: 25vw;
        margin-top: 4em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 3.5em;
        padding-left: 3.5em;
        border: 0px solid grey;
        background: linear-gradient(to bottom right, $pink, $purple);
        box-shadow: 0px 5px 10px rgb(177, 176, 176);
        border-radius: 3em;
        font-size: 0.9em;
        width: fit-content;
        height: fit-content;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: 'Roboto';
        &:hover{
            background: linear-gradient(to bottom right, #ff79d9dc, #9256dce1);
            box-shadow: 0px 10px 10px rgb(177, 176, 176);}
    }
    



    

    @mixin menus {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 5px 10px rgba(177, 176, 176, 0.342);
        background-color: rgba(255, 255, 255, 0.521);
        border-radius: 1em;
        margin-top: 1em;
        height: fit-content;
        &:hover{
                background-color: white;
                box-shadow: 0px 10px 10px rgba(177, 176, 176, 0.342);
            .checkicon{
                background-color: $green;
                color:white;
                display: inline-block;
                position: relative;
                border:0.9em solid #99E2D0;
                font-size: 1.2em;
                border-radius: 0em 0.7em 0.7em 0em;
                margin-top: 0em;
                transform: scaleX(1);
                i{
                    transform: scaleX(1) rotate(360deg);
                    transition: transform 400ms ease-in-out;
                }
            }
            .price{
                transform: translateX(-1.5em);
            }
            .recipe{
                width: 220px;
            }
        }
        .sides{
            padding-bottom: 10px;
        }
        span{
            font-weight: bold;
        }
        p{  
            padding-top: 0.5em;
            font-family: 'Roboto';
            margin-top: 0px;
            margin-left: 10px;
            margin-bottom: 0px;
            font-size: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
        .boxicon{
            display: flex;
                .price{
                    font-weight: bold;
                    margin-top: 2.8em;
                    padding-top: 0.5em;
                    line-height: 0em;
                    font-size: 0.8em;
                    transition:transform 400ms linear;
                }    
                .checkicon{
                    transition: transform 400ms ease-in-out;
                    transform: scaleX(0);
                    transform-origin: right;
                    i{
                        transform: scaleX(0);
                    }
                }

        }

    body{
        margin: 0%;
        height: 100vh;
    }
        header{
            .boxheader{
            display: flex;
            height: 4.5em;
            justify-content: space-around;
                h1{
                    font-family: 'Shrikhand';
                    margin-right:2em;
                }
                i{
                    margin-top: 1.3em;
                    margin-right: 1em;
                    
                    font-size: 1.4em;
                    color: black;
                }
            }
        }
        main{
            
            .boximg{
                width: 100%;
                height: 17em;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .boxmenu{
            background-color: rgb(247, 243, 243);
            border: 2px solid transparent ;
            border-radius: 2em 2em 0 0;
            position: relative;
            top: -3.5em;
            margin-bottom: -3.5em;
            padding-bottom: 9em;


            .restauranttitle{
                display: flex;
                justify-content: space-between;
                margin-left: 1em;
                margin-top:0em;
                margin-bottom: 0em;
                h1{
                    font-family: 'Shrikhand';
                    font-size: 1.6em;
                }
                i{
                    font-size: 1.5em;
                    margin-top: 1em;
                    margin-right: 2em;
                    color: black;
                }
                a{
                    text-decoration: none;
                }
                .like{
                    .fa-solid{
                        color: transparent;
                        background-clip: text;
                        background-image: linear-gradient( $purple, $pink);

                    }
                }
                .like i:nth-child(2){
                    display:none;
                }
                
                .like:hover i:nth-child(1){
                    display: none;
                }
                .like:hover i:nth-child(2){
                    display: block;
                    animation: fill 1s;
                    transform-origin: bottom;
                    @keyframes fill {
                        0%{
                            transform: scaleY(0);
                        }
                        100%{
                            transform: scaleY(1)
                        }
                    }  
                }
        }

            .boxplats{
                margin-left: 1em;
                margin-right: 1em;
                font-family: 'Roboto';
                .starter{
                    margin-top: 3em;
                    border-bottom: 3px solid $green;
                    width: 2.5em;
                    line-height: 0em;
                    text-transform: uppercase;
                }
                a{
                    text-decoration: none;
                    color: black;
                }
                .bordermenu{
                    @include menus;
                    animation-name:SlideInBottom;
                    animation-duration: 400ms;
                    animation-timing-function: linear;
                    animation-iteration-count: 1;
                }
                @for $i from 1 through 9{
                    .bordermenu#{$i}{
                        animation-duration: 400ms*$i;
                        
                    }
                }
                @keyframes SlideInBottom {
                    0%{
                        opacity: 0;
                    }
                    60%{
                        opacity: 0;
                        transform: translateY(10%);
                    }
                    100%{
                        transform: translateY(0%);
                        opacity: 1;
                    }
                }
            }
                .commands{
                    @include bordercommands;
                }
            }
        }
        footer{
            .boxfooter{

                background-color: rgb(75, 73, 73);
                padding-top: 1em;
                padding-bottom: 2em;
                h2{
                    font-family: 'Shrikhand';
                    color: white;
                    margin-left: 2em;
                    font-size: 1.2em;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
                p{
                    margin-left: 2em;
                    line-height: 0.5em;
                    font-family: 'Roboto';
                }
                i{
                    margin-right: 0.7em;
                    font-size: 0.8em;
                }
                .ustensils{
                    margin-left: 0.3em;
                    i{
                        margin-right: 0.8em;
                        margin-left: -0.2em;
                    }
                }
            }
        }
}

